# OS (Mac OS X)
.DS_Store

# IDE (jupyter)
.ipynb_checkpoints/

# Pyenv
.python-version

# Secrets
new_user_credentials-2.csv

# Data
dataset/

# other folders
P8_tutorial/
deliverables/
DS_projet8_ragetly_pe/
DS_projet8_ragetly_pe.zip
