[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.23.4"
pyspark = "3.3.1"
pillow = "9.3.0"
jupyter = "1.0.0"
opencv-python = "4.5.4.60"
sagemaker-pyspark = "*"
awscli = "*"
pyarrow = "*"
py4j = "*"

[dev-packages]

[requires]
python_version = "3.10"
